# ================= Python =================
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# ================= Django =================
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.py[cod]
__pycache__/

# ================= Virtual Environment =================
env/
venv/
ENV/
*.env

# ================= IDE / Editor =================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ================= System / OS =================
.DS_Store
Thumbs.db

# ================= Others =================
*.cover
.coverage
htmlcov/
*.egg-info/
dist/
build/
